@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
:root {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --menu-color: var(--menu-color-light);
  --navbar-color: var(--navbar-color-light);
  --head-color: var(--head-color-light);
  --toggle-color: var(--toggle-color-light);
  --head-header-color: var(--head-header-color-light);
  --code-bg-color: var(--code-bg-color-light);
  --btn-ex-color: var(--btn-ex-color-light);
  --input-text-color: var(--input-text-color-light);
  --input-border-color: var(--input-border-color-light);
  --input-focus-color: var(--input-focus-color-light);
  --general-code-color: var(--general-code-color-light);
  --primary-color-light: #FFFEF6;
  --secondary-color-light: #0C4075;
  --menu-color-light:  #FFFEF6;
  --navbar-color-light: #fcfbf0;
  --head-color-light: #FD872C;
  --toggle-color-light:  #FFE0C7;
  --head-header-color-light: var(--primary-color-light);
  --code-bg-color-light: hsl(59, 100%, 92%);
  --btn-ex-color-light: linear-gradient(to bottom right, #FD872C, red);
  --input-text-color-light: rgb(155, 70, 0);
  --input-border-color-light: 1.5px solid orangered;
  --input-focus-color-light: 0px 0px 6px rgb(255, 123, 0);
  --general-code-color-light: rgba(42, 0, 158, 0.678);
  --primary-color-dark: #17192B;
  --secondary-color-dark: #1680ED;
  --menu-color-dark: var(--secondary-color-dark);
  --navbar-color-dark: #43476F;
  --head-color-dark: #02002D;
  --toggle-color-dark: #07086F;
  --head-header-color-dark: #9AD3FA;
  --code-bg-color-dark: #0D3157;
  --btn-ex-color-dark: linear-gradient(to bottom right, #0017e4, #07086F);
  --input-text-color-dark: #c18afc;
  --input-border-color-dark: 1px solid rgb(0, 51, 190);
  --input-focus-color-dark: 0px 0px 6px rgb(0, 68, 255);
  --general-code-color-dark: #8f90ff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);
  position: relative;
  -webkit-transition: background-color .5s, color .5s;
  transition: background-color .5s, color .5s;
}

.header {
  background: var(--head-color);
  padding: 1rem 1.1rem;
  position: fixed;
  z-index: 900;
  width: 100vw;
}

.bottom-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#main-doc {
  width: 100%;
  padding: 1rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--head-header-color);
  font-size: 1.3rem;
}

.header .menu-bar {
  font-size: 3rem;
  color: var(--menu-color);
  cursor: pointer;
}

.header .themeToggleEtPageName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .themeToggleEtPageName .themeToggle {
  height: 3rem;
  width: 8rem;
  margin-right: 2rem;
  border-radius: 50px;
  background: var(--toggle-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  cursor: pointer;
}

.header .themeToggleEtPageName .day-sphere {
  width: 3rem;
  right: 5rem;
  position: absolute;
  -webkit-transition: right .3s linear, opacity .1s linear;
  transition: right .3s linear, opacity .1s linear;
}

.header .themeToggleEtPageName .night-sphere {
  position: absolute;
  width: 3rem;
  opacity: 0;
  right: 2.5rem;
  -webkit-transition: right .15s  .06s linear,opacity .075s linear;
  transition: right .15s  .06s linear,opacity .075s linear;
}

.header .themeToggleEtPageName .slide-right {
  right: 0;
  opacity: 0;
}

.header .themeToggleEtPageName .show-night {
  right: 0rem;
  opacity: 1;
}

#navbar {
  position: fixed;
  z-index: 200;
  left: -100rem;
  top: 5.72rem;
  background: var(--navbar-color);
  font-size: clamp(1.4rem, 44%, 1.6rem);
  height: 93vh;
  width: 50%;
  overflow-y: scroll;
  border-right: 0.5px solid var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#navbar h1 {
  text-align: center;
  padding: 2rem 2rem;
  border-bottom: 2px solid var(--secondary-color);
}

#navbar .content-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#navbar .content-list li {
  text-align: left;
  padding: 3rem 2rem;
  border-bottom: 0.5px solid var(--secondary-color);
}

#navbar .content-list__links {
  color: var(--secondary-color);
  font-weight: 500;
  text-decoration: none;
}

.main-section {
  width: 100%;
  padding-bottom: 4rem;
  line-height: 1.5;
  letter-spacing: .05rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-section .section-headers {
  font-weight: bolder;
  padding-bottom: 1.2rem;
}

.main-section h3 {
  font-weight: 600;
  padding-bottom: 1rem;
}

.main-section p {
  font-weight: 430;
  margin-bottom: 2rem;
}

.main-section .examples {
  font-weight: 510;
}

.main-section .code-parent {
  font-weight: bold;
  background: var(--code-bg-color);
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section code {
  background: transparent;
}

.main-section .inline-code {
  background-color: var(--code-bg-color);
  font-size: 1.8rem;
  color: #c43a18;
}

.main-section .gen-code {
  font-size: 2.1rem;
  font-weight: 550;
  padding: .5rem .5rem;
  background: var(--code-bg-color);
  color: var(--general-code-color);
}

.main-section .code-input {
  height: 5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--code-bg-color);
  color: var(--input-text-color);
  outline: none;
  font-size: 1.8rem;
  border-radius: 5px;
  border: var(--input-border-color);
}

.main-section .code-input:focus {
  -webkit-box-shadow: var(--input-focus-color);
          box-shadow: var(--input-focus-color);
}

.main-section .btn {
  padding: .7rem 2rem;
  font-size: 1.7rem;
  border-radius: 6px;
  border: none;
  background-image: var(--btn-ex-color);
  font-weight: 500;
  color: var(--head-header-color);
  cursor: pointer;
}

.main-section .statement__list-items {
  margin-top: 1rem;
  font-weight: 430;
}

.main-section .statement__list-items:last-child {
  margin-bottom: 1.3rem;
}

.show {
  left: 0 !important;
}

@media screen and (min-width: 1920) {
  #leftsidebar {
    width: 200px;
    float: left;
  }
  #main {
    margin-left: 216px;
  }
}
/*# sourceMappingURL=main.css.map */