@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // outline: 1px solid blue;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background: var(--primary-color);
    color: var(--secondary-color);
    position: relative;

    transition: background-color .5s, color .5s;
}

header{
    background: var(--head-color);
    padding: 1rem 1.1rem;
    position: fixed;
    z-index: 900;
    width: 100vw;
}

.bottom-part{
    display: flex;
    padding-top: 18%;
    height: 100%;
}

#main-doc{
    padding: 1rem;
}