*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background: var(--primary-color-light);
    color: var(--secondary-color-light);
}

header{
    background: var(--head-color-light);
    padding: 1rem 0;
}

.bottom-part{
    display: flex;
}