:root{
    // Light theme
    --primary-color-light: #FFFEF6;
    --secondary-color-light: #0C4075;
    --navbar-color-light: #fcfbf0;
    --head-color-light: #FD872C;
    
    // Dark theme
    --primary-color-dark: #17192B;
    --secondary-color-dark: #1680ED;
    --navbar-color-dark: #43476F;
    --head-color-dark: #02002D;
}