:root{
    // general
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --menu-color: var(--menu-color-light);
    --navbar-color: var(--navbar-color-light);
    --head-color: var(--head-color-light);
    --toggle-color: var(--toggle-color-light);
    --head-header-color: var(--head-header-color-light);
    --code-bg-color: var(--code-bg-color-light);
    --btn-ex-color: var(--btn-ex-color-light);
    --input-text-color: var(--input-text-color-light);
    --input-border-color: var(--input-border-color-light);
    --input-focus-color: var(--input-focus-color-light);
    --general-code-color: var(--general-code-color-light);
    
    // Light theme
    --primary-color-light: #FFFEF6;
    --secondary-color-light: #0C4075;
    --menu-color-light:  #FFFEF6;
    --navbar-color-light: #fcfbf0;
    --head-color-light: #FD872C;
    --toggle-color-light:  #FFE0C7;
    --head-header-color-light: var(--primary-color-light);
    --code-bg-color-light: hsl(59, 100%, 92%);
    --btn-ex-color-light: linear-gradient(to bottom right, #FD872C, red);
    --input-text-color-light: rgb(155, 70, 0);
    --input-border-color-light: 1px solid orangered;
    --input-focus-color-light: 0px 0px 6px rgb(255, 123, 0);
    --general-code-color-light: rgba(50, 0, 187, 0.678);

    
    
    // Dark theme
    --primary-color-dark: #17192B;
    --secondary-color-dark: #1680ED;
    --menu-color-dark: var(--secondary-color-dark);
    --navbar-color-dark: #43476F;
    --head-color-dark: #02002D;
    --toggle-color-dark: #07086F;
    --head-header-color-dark: #9AD3FA;
    --code-bg-color-dark: #0D3157;
    --btn-ex-color-dark: linear-gradient(to bottom right, #0017e4, #07086F);
    --input-text-color-dark: #c18afc;
    --input-border-color-dark: 1px solid rgb(0, 51, 190);
    --input-focus-color-dark: 0px 0px 6px rgb(0, 68, 255);
    --general-code-color-dark: #126cc5;

}